.flex-container {
    width: 33%;
    margin: 0 auto;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

/* .description-section {
    width: 300px;
    border: 1px solid white;
} */

.images, .description-section {
    width: 100%;
    border: 1px solid white;
}

.description-section {
    display: flex;
    background-color: antiquewhite;
    color: saddlebrown;
    font-size: 1.7vw;
    font-family: 'Lexend', Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    align-items: center;
}

.description-section p {
    padding: 12px;
}

.buttons-section {
    padding: 25px;
}

.like-button {
    float: left;
}

.delete-button {
    float: right;
}