.flex-container {
    width: 300px;
    margin: 0 auto;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

/* .description-section {
    width: 300px;
    border: 1px solid white;
} */

.images, .description-section {
    width: 300px;
    border: 1px solid white;
}

.buttons-section {
    padding: 15px;
}

.like-button {
    float: left;
}

.delete-button {
    float: right;
}