body {
  background-color:rgb(65, 64, 64);
}

.App {
  text-align: center;
}

.App-header {
  /* Banner image found at https://www.sarbaptistchurch.com/gallery */
  background-image: url("../../vendors/banner.jpg");
  padding: 1em;
  color: white;
  margin-bottom: 2em;
}

.App-title {
  font-size: 3em;
  color: white;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

