body {
  background-color:rgb(48, 47, 47);
}

.App {
  text-align: center;
}

.App-header {
  /* Banner image found at https://www.sarbaptistchurch.com/gallery */
  background-image: url("../../vendors/banner.jpg");
  padding: 1em;
  color: white;
  margin-bottom: 2em;
  border-bottom:1px solid black;
}


.App-title {
  font-size: 3.5em;
  color: white;
  font-family: 'Lexend', Verdana, Geneva, Tahoma, sans-serif;
}

